{% extends 'FlightsSystem/layout.html' %} {% block body %}

<h2>Add Passengers</h2>

<!-- <form action="{% url 'FlightsSystem:addpassenger'%}" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
    </div>
  {% endfor %}
  <select name="flight" id="">
  <option value=""> Select a Flight  </option>
  {% for aflight in AllFLights %}
  <option value="{{aflight.id}}"> {{aflight}} 
  </option>
  {% endfor %}
</select>
  <input type="submit" value="Submit">
</form> -->

<!-- Uncomment this if you want to use django select to select a flight -->
<!-- otherwise the above code will do it manually using template value passed to it -->

<!-- ---------------------------------------------------- -->

<form action="{% url 'FlightsSystem:addpassenger'%}" method="POST">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">{{ field.label_tag }} {{ field }}</div>
  {% endfor %} {% if errors %}
  <ul>
    {% for error in errors.items %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <input type="submit" value="Submit" />
</form>

<h1>{{info}}</h1>

<!-- -------------------------------------------------------- -->
{% endblock %}
