{% extends 'FlightsSystem/layout.html' %}
{% block body %}


<center>
  <table class="table table-dark table-hover">
    <th>ID</th>
    <th>Code</th>
    <th>City</th>
    <th>Country</th>

    {% for airport in all %}

    <tr>
      <td>
        <a href="{% url 'FlightsSystem:anAirportDetial' airport.id %}"
          >{{airport.id}}</a
        >
      </td>
      <td>
        <a href="{% url 'FlightsSystem:anAirportDetial' airport.id %}"
          >{{airport.code}}</a
        >
      </td>
      <td>
        <a href="{% url 'FlightsSystem:anAirportDetial' airport.id %}"
          >{{airport.city}}</a
        >
      </td>
      <td>
        <a href="{% url 'FlightsSystem:anAirportDetial' airport.id %}"
          >{{airport.country}}</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</center>












{%endblock%}
