{% extends 'FlightsSystem/layout.html' %} {% block body %}

<h1>Welcome to Flight Management System.</h1>
<h3>Please Select one of the below options</h3>

<table>
  <tr>
    <td><a href="{% url 'FlightsSystem:AllFLights' %}">All Flights </a></td>
  </tr>
  <tr>
    <td><a href=""> All Passenger</a></td>
    >
  </tr>
  <tr>
    <td><a href="">All Airports</a></td>
    >
  </tr>
  <tr>
    <td><a href=""> List of Tickets</a></td>
    >
  </tr>
  <tr>
    <td><a href=""> List of Airlines</a></td>
  </tr>
</table>

{% endblock %}
